<!--
@author Vanderheyden Quentin
@reviewer Halet Louis, Nicolas Jean-François
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="~{common/head :: head(pageTitle='Accueil', extraCss=null)}"></head>

    <body>
        <div th:replace="~{common/navbar :: navbar(activeTab='accueil', userRole='COORDINATOR', userName=${userName}, breadcrumb='Etablissement')}"></div>

        <div class="my-4 d-flex justify-content-center">
            <p class="h1 text-primary">
                Listes des établissements
            </p>

            <button type="button" class="btn btn-primary rounded-3 ms-4" data-bs-toggle="modal" data-bs-target="#ajouterEtablissementModal">
                Ajouter un Etablissement
            </button>
            <div class="modal fade" id="ajouterEtablissementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4">
                        <div class="modal-header">
                            <h1 class="modal-title fs-3 text-center w-100 py-2" id="modalTitre">
                                Ajouter un établissement
                            </h1>
                            <button type="button" class="btn-close rounded-3" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form class="p-4" method="post" >
                            <div class="mb-3">
                                <label for="nomEtablissement" class="form-label">Nom de l'établissement</label>
                                <input type="text" class="form-control rounded-3" id="nomEtablissement" placeholder="Texte ...">
                            </div>

                            <div class="mb-3">
                                <label for="nomVille" class="form-label">Ville</label>
                                <input   type="text" class="form-control rounded-3" id="nomVille" placeholder="Texte ...">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="adresse">Adresse complète</label>
                                <textarea  class="form-control rounded-3" id="adresse" rows="3"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="referant">Référant de l'établissement</label>
                                <input  type="text" class="form-control rounded-3" id="referant">
                                <div class="form-text">Peut être défini plus tard</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Annuler</button>
                                <button type="submit" class="btn btn-primary rounded-3">Créer</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

        <div class="container my-4">

            <table class="table">
                <thead>
                <tr class="table-active shadow p-3 mb-5 bg-body-tertiary rounded">
                    <th scope="col">Nom</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Adresse Complète</th>
                    <th scope="col">Personne Référent</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Haute Ecole Robert Schuman</th>
                    <td>Libramont</td>
                    <td>
                        Rue de la Cité, 64
                        6800 Libramont
                    </td>
                    <td>
                        DENY Laurence
                    </td>
                    <td>
                        <button type="button"  class="btn rounded-3" data-bs-toggle="modal" data-bs-target="#modifierEtablissementModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>Ville</td>
                    <td>Adresse</td>
                    <td>NOM Prenom</td>
                    <td>
                        <button type="button"  class="btn rounded-3" data-bs-toggle="modal" data-bs-target="#modifierEtablissementModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>Ville</td>
                    <td>Adresse</td>
                    <td>NOM Prenom</td>
                    <td>
                        <button type="button"  class="btn rounded-3" data-bs-toggle="modal" data-bs-target="#modifierEtablissementModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>Ville</td>
                    <td>Adresse</td>
                    <td>NOM Prenom</td>
                    <td>
                        <button type="button"  class="btn rounded-3" data-bs-toggle="modal" data-bs-target="#modifierEtablissementModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>Ville</td>
                    <td>Adresse</td>
                    <td>NOM Prenom</td>
                    <td>
                        <button type="button"  class="btn rounded-3" data-bs-toggle="modal" data-bs-target="#modifierEtablissementModal">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation etablissement">
                <ul class="pagination justify-content-center text-primary py-4 gap-2">
                    <li class="page-item">
                        <a class="page-link rounded-2" href="#">
                            <i class="bi bi-arrow-left"></i>
                            Précédent
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link active rounded-2" href="#">1</a></li>
                    <li class="page-item"><a class="page-link rounded-2" href="#">2</a></li>
                    <li class="page-item"><a class="page-link rounded-2" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link rounded-2" href="#">
                            Suivant
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!--Remplir les champs avec les données correspondantes-->
        <div class="modal fade" id="modifierEtablissementModal" tabindex="-1" aria-labelledby="modifierEtablissement" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-4">
                    <div class="modal-header">
                        <h1 class="modal-title fs-3 text-center w-100 py-2" id="modifierEtablissement">
                            Modifier un établissement
                        </h1>
                        <button type="button" class="btn-close rounded-3" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form class="p-4">
                        <div class="mb-3">
                            <label for="nomEtablissement" class="form-label">Nom de l'établissement</label>
                            <input type="text" class="form-control rounded-3" id="nomEtablissementModifier" placeholder="Texte ...">
                        </div>

                        <div class="mb-3">
                            <label for="nomVille" class="form-label">Ville</label>
                            <input type="text" class="form-control rounded-3" id="nomVilleModifier" placeholder="Texte ...">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="adresse">Adresse complète</label>
                            <textarea class="form-control rounded-3" id="adresseModifier" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="referant">Référant de l'établissement</label>
                            <input type="text" class="form-control rounded-3" id="referantModifier">
                            <div class="form-text">Peut être défini plus tard</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary rounded-3" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary rounded-3">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="~{common/footer :: footer}"></div>
    </body>
</html>