/* Allows you to reduce the fullcalendar toolbar */
.fc .fc-toolbar {
    padding: 4px 8px !important;
}

.fc .fc-toolbar-title {
    font-size: 1.3rem !important;
}

.fc .fc-button {
    padding: 2px 8px !important;
    font-size: 1rem !important;
}

#calendar {
    font-size: 0.95rem;
}

/* Allows you to put all the modals with rounded corners */
#modalIndispo .modal-content,
#modalRDV .modal-content,
#modalEnvoi .modal-content {
    border-radius: 16px !important;
    overflow: hidden;
}

/* On mobile, makes the button group full width with equal buttons. */
@media (max-width: 991px) {
    #btnGroupPlanning {
        width: 100%;
    }

    #btnGroupPlanning .btn {
        flex: 1;
        text-align: center;
    }
}